In [3]:
import pandas as pd
import numpy as np
store=pd.read_csv("C:\\Users\\Administrator\\Desktop\\python\\assignment\\DataSets\\store.csv")

In [5]:
#•	How many unique cities are the orders being delivered to
set(store.City)

{'Aberdeen',
 'Abilene',
 'Akron',
 'Albuquerque',
 'Alexandria',
 'Allen',
 'Allentown',
 'Altoona',
 'Amarillo',
 'Anaheim',
 'Andover',
 'Ann Arbor',
 'Antioch',
 'Apopka',
 'Apple Valley',
 'Appleton',
 'Arlington',
 'Arlington Heights',
 'Arvada',
 'Asheville',
 'Athens',
 'Atlanta',
 'Atlantic City',
 'Auburn',
 'Aurora',
 'Austin',
 'Avondale',
 'Bakersfield',
 'Baltimore',
 'Bangor',
 'Bartlett',
 'Bayonne',
 'Baytown',
 'Beaumont',
 'Bedford',
 'Belleville',
 'Bellevue',
 'Bellingham',
 'Bethlehem',
 'Beverly',
 'Billings',
 'Bloomington',
 'Boca Raton',
 'Boise',
 'Bolingbrook',
 'Bossier City',
 'Bowling Green',
 'Boynton Beach',
 'Bozeman',
 'Brentwood',
 'Bridgeton',
 'Bristol',
 'Broken Arrow',
 'Broomfield',
 'Brownsville',
 'Bryan',
 'Buffalo',
 'Buffalo Grove',
 'Bullhead City',
 'Burbank',
 'Burlington',
 'Caldwell',
 'Camarillo',
 'Cambridge',
 'Canton',
 'Carlsbad',
 'Carol Stream',
 'Carrollton',
 'Cary',
 'Cedar Hill',
 'Cedar Rapids',
 'Champaign',
 'Chandler',
 'Chapel Hill',
 'Charlotte',
 'Charlottesville',
 'Chattanooga',
 'Chesapeake',
 'Chester',
 'Cheyenne',
 'Chicago',
 'Chico',
 'Chula Vista',
 'Cincinnati',
 'Citrus Heights',
 'Clarksville',
 'Cleveland',
 'Clifton',
 'Clinton',
 'Clovis',
 'Coachella',
 'College Station',
 'Colorado Springs',
 'Columbia',
 'Columbus',
 'Commerce City',
 'Concord',
 'Conroe',
 'Conway',
 'Coon Rapids',
 'Coppell',
 'Coral Gables',
 'Coral Springs',
 'Corpus Christi',
 'Costa Mesa',
 'Cottage Grove',
 'Covington',
 'Cranston',
 'Cuyahoga Falls',
 'Dallas',
 'Danbury',
 'Danville',
 'Davis',
 'Daytona Beach',
 'Dearborn',
 'Dearborn Heights',
 'Decatur',
 'Deer Park',
 'Delray Beach',
 'Deltona',
 'Denver',
 'Des Moines',
 'Des Plaines',
 'Detroit',
 'Dover',
 'Draper',
 'Dublin',
 'Dubuque',
 'Durham',
 'Eagan',
 'East Orange',
 'East Point',
 'Eau Claire',
 'Edinburg',
 'Edmond',
 'Edmonds',
 'El Cajon',
 'El Paso',
 'Elkhart',
 'Elmhurst',
 'Elyria',
 'Encinitas',
 'Englewood',
 'Escondido',
 'Eugene',
 'Evanston',
 'Everett',
 'Fairfield',
 'Fargo',
 'Farmington',
 'Fayetteville',
 'Florence',
 'Fort Collins',
 'Fort Lauderdale',
 'Fort Worth',
 'Frankfort',
 'Franklin',
 'Freeport',
 'Fremont',
 'Fresno',
 'Frisco',
 'Gaithersburg',
 'Garden City',
 'Garland',
 'Gastonia',
 'Georgetown',
 'Gilbert',
 'Gladstone',
 'Glendale',
 'Glenview',
 'Goldsboro',
 'Grand Island',
 'Grand Prairie',
 'Grand Rapids',
 'Grapevine',
 'Great Falls',
 'Greeley',
 'Green Bay',
 'Greensboro',
 'Greenville',
 'Greenwood',
 'Gresham',
 'Grove City',
 'Gulfport',
 'Hackensack',
 'Hagerstown',
 'Haltom City',
 'Hamilton',
 'Hampton',
 'Harlingen',
 'Harrisonburg',
 'Hattiesburg',
 'Helena',
 'Hempstead',
 'Henderson',
 'Hendersonville',
 'Hesperia',
 'Hialeah',
 'Hickory',
 'Highland Park',
 'Hillsboro',
 'Holland',
 'Hollywood',
 'Holyoke',
 'Homestead',
 'Hoover',
 'Hot Springs',
 'Houston',
 'Huntington Beach',
 'Huntsville',
 'Independence',
 'Indianapolis',
 'Inglewood',
 'Iowa City',
 'Irving',
 'Jackson',
 'Jacksonville',
 'Jamestown',
 'Jefferson City',
 'Johnson City',
 'Jonesboro',
 'Jupiter',
 'Keller',
 'Kenner',
 'Kenosha',
 'Kent',
 'Kirkwood',
 'Kissimmee',
 'Knoxville',
 'La Crosse',
 'La Mesa',
 'La Porte',
 'La Quinta',
 'Lafayette',
 'Laguna Niguel',
 'Lake Charles',
 'Lake Elsinore',
 'Lake Forest',
 'Lakeland',
 'Lakeville',
 'Lakewood',
 'Lancaster',
 'Lansing',
 'Laredo',
 'Las Cruces',
 'Las Vegas',
 'Laurel',
 'Lawrence',
 'Lawton',
 'Layton',
 'League City',
 'Lebanon',
 'Lehi',
 'Leominster',
 'Lewiston',
 'Lincoln Park',
 'Linden',
 'Lindenhurst',
 'Little Rock',
 'Littleton',
 'Lodi',
 'Logan',
 'Long Beach',
 'Longmont',
 'Longview',
 'Lorain',
 'Los Angeles',
 'Louisville',
 'Loveland',
 'Lowell',
 'Lubbock',
 'Macon',
 'Madison',
 'Malden',
 'Manchester',
 'Manhattan',
 'Mansfield',
 'Manteca',
 'Maple Grove',
 'Margate',
 'Marietta',
 'Marion',
 'Marlborough',
 'Marysville',
 'Mason',
 'Mcallen',
 'Medford',
 'Medina',
 'Melbourne',
 'Memphis',
 'Mentor',
 'Meriden',
 'Meridian',
 'Mesa',
 'Mesquite',
 'Miami',
 'Middletown',
 'Midland',
 'Milford',
 'Milwaukee',
 'Minneapolis',
 'Miramar',
 'Mishawaka',
 'Mission Viejo',
 'Missoula',
 'Missouri City',
 'Mobile',
 'Modesto',
 'Monroe',
 'Montebello',
 'Montgomery',
 'Moorhead',
 'Moreno Valley',
 'Morgan Hill',
 'Morristown',
 'Mount Pleasant',
 'Mount Vernon',
 'Murfreesboro',
 'Murray',
 'Murrieta',
 'Muskogee',
 'Naperville',
 'Nashua',
 'Nashville',
 'New Albany',
 'New Bedford',
 'New Brunswick',
 'New Castle',
 'New Rochelle',
 'New York City',
 'Newark',
 'Newport News',
 'Niagara Falls',
 'Noblesville',
 'Norfolk',
 'Normal',
 'Norman',
 'North Charleston',
 'North Las Vegas',
 'North Miami',
 'Norwich',
 'Oak Park',
 'Oakland',
 'Oceanside',
 'Odessa',
 'Oklahoma City',
 'Olathe',
 'Olympia',
 'Omaha',
 'Ontario',
 'Orange',
 'Orem',
 'Orland Park',
 'Orlando',
 'Ormond Beach',
 'Oswego',
 'Overland Park',
 'Owensboro',
 'Oxnard',
 'Palatine',
 'Palm Coast',
 'Park Ridge',
 'Parker',
 'Parma',
 'Pasadena',
 'Pasco',
 'Passaic',
 'Paterson',
 'Pearland',
 'Pembroke Pines',
 'Pensacola',
 'Peoria',
 'Perth Amboy',
 'Pharr',
 'Philadelphia',
 'Phoenix',
 'Pico Rivera',
 'Pine Bluff',
 'Plainfield',
 'Plano',
 'Plantation',
 'Pleasant Grove',
 'Pocatello',
 'Pomona',
 'Pompano Beach',
 'Port Arthur',
 'Port Orange',
 'Port Saint Lucie',
 'Portage',
 'Portland',
 'Providence',
 'Provo',
 'Pueblo',
 'Quincy',
 'Raleigh',
 'Rancho Cucamonga',
 'Rapid City',
 'Reading',
 'Redding',
 'Redlands',
 'Redmond',
 'Redondo Beach',
 'Redwood City',
 'Reno',
 'Renton',
 'Revere',
 'Richardson',
 'Richmond',
 'Rio Rancho',
 'Riverside',
 'Rochester',
 'Rochester Hills',
 'Rock Hill',
 'Rockford',
 'Rockville',
 'Rogers',
 'Rome',
 'Romeoville',
 'Roseville',
 'Roswell',
 'Round Rock',
 'Royal Oak',
 'Sacramento',
 'Saginaw',
 'Saint Charles',
 'Saint Cloud',
 'Saint Louis',
 'Saint Paul',
 'Saint Peters',
 'Saint Petersburg',
 'Salem',
 'Salinas',
 'Salt Lake City',
 'San Angelo',
 'San Antonio',
 'San Bernardino',
 'San Clemente',
 'San Diego',
 'San Francisco',
 'San Gabriel',
 'San Jose',
 'San Luis Obispo',
 'San Marcos',
 'San Mateo',
 'Sandy Springs',
 'Sanford',
 'Santa Ana',
 'Santa Barbara',
 'Santa Clara',
 'Santa Fe',
 'Santa Maria',
 'Scottsdale',
 'Seattle',
 'Sheboygan',
 'Shelton',
 'Sierra Vista',
 'Sioux Falls',
 'Skokie',
 'Smyrna',
 'South Bend',
 'Southaven',
 'Sparks',
 'Spokane',
 'Springdale',
 'Springfield',
 'Sterling Heights',
 'Stockton',
 'Suffolk',
 'Summerville',
 'Sunnyvale',
 'Superior',
 'Tallahassee',
 'Tamarac',
 'Tampa',
 'Taylor',
 'Temecula',
 'Tempe',
 'Texarkana',
 'Texas City',
 'The Colony',
 'Thomasville',
 'Thornton',
 'Thousand Oaks',
 'Tigard',
 'Tinley Park',
 'Toledo',
 'Torrance',
 'Trenton',
 'Troy',
 'Tucson',
 'Tulsa',
 'Tuscaloosa',
 'Twin Falls',
 'Tyler',
 'Urbandale',
 'Utica',
 'Vacaville',
 'Vallejo',
 'Vancouver',
 'Vineland',
 'Virginia Beach',
 'Visalia',
 'Waco',
 'Warner Robins',
 'Warwick',
 'Washington',
 'Waterbury',
 'Waterloo',
 'Watertown',
 'Waukesha',
 'Wausau',
 'Waynesboro',
 'West Allis',
 'West Jordan',
 'West Palm Beach',
 'Westfield',
 'Westland',
 'Westminster',
 'Wheeling',
 'Whittier',
 'Wichita',
 'Wilmington',
 'Wilson',
 'Woodbury',
 'Woodland',
 'Woodstock',
 'Woonsocket',
 'Yonkers',
 'York',
 'Yucaipa',
 'Yuma'}

In [6]:
#•	What is the total quantity sold in the East Region?
x=store[store.Region=='East']
x.Quantity.count()

2848

In [7]:
#•	Find the sum of the quantity sold in the East Region
x.Quantity.sum()

10618

In [8]:
#•	In the south region sort the sales in decreasing order
store.sort_values('Sales').head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
4101,4102,US-2014-102288,6/20/2014,6/24/2014,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,...,77095,Central,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100
9292,9293,CA-2014-124114,3/3/2014,3/3/2014,Same Day,RS-19765,Roland Schwarz,Corporate,United States,Waco,...,76706,Central,OFF-BI-10004022,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556,1,0.8,-0.9452
8658,8659,CA-2013-168361,6/22/2013,6/26/2013,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,...,60623,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1,0.8,-1.3376
4711,4712,CA-2011-112403,3/31/2011,3/31/2011,Same Day,JO-15280,Jas O'Carroll,Consumer,United States,Philadelphia,...,19120,East,OFF-BI-10003529,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852,1,0.7,-0.5964
2106,2107,US-2011-152723,9/26/2011,9/26/2011,Same Day,HG-14965,Henry Goldwyn,Corporate,United States,Mesquite,...,75150,Central,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,0.876,1,0.8,-1.4016

In [9]:
#•	Find the mean of quantity for every region
y=store.groupby('Region')
y.Quantity.mean()

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

In [10]:
#•	Find the mean of sales for every category
z=store.groupby('Category')
z.Sales.mean()

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [11]:
#•	Find the max, min, sum of sales and profit for every category
#store.groupby('Category')['Sales','Profit'].max()
#store.groupby('Category')['Sales','Profit'].min()
#store.groupby('Category')['Sales','Profit'].sum()
store.groupby('Category')[['Sales','Profit']].agg({'max','min','sum'})

                     Sales                        Profit               \
                       max          sum    min       max          sum
Category
Furniture         4416.174  741999.7953  1.892  1013.127   18451.2728
Office Supplies   9892.740  719047.0320  0.444  4946.370  122490.8008
Technology       22638.480  836154.0330  0.990  8399.976  145454.9481


                       min
Category
Furniture       -1862.3124
Office Supplies -3701.8928
Technology      -6599.9780

In [12]:
#•	Find sum of sales and max profit for every segment
store.groupby('Segment')['Sales'].sum()
store.groupby('Segment')['Profit'].max()

Segment
Consumer       6719.9808
Corporate      8399.9760
Home Office    3919.9888
Name: Profit, dtype: float64

In [13]:
#•	For every segment find the mean of the discount
store.groupby('Segment')['Discount'].mean()

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

In [100]:
#•	For every segment find the most profitable customers
z=[store.groupby('Segment').max().Profit]
k=[store.Profit]
store[['Customer Name','Segment','Profit']][np.in1d(k,z)]

     Customer Name      Segment     Profit
2623  Tom Ashbrook  Home Office  3919.9888
6826  Tamara Chand    Corporate  8399.9760
8153  Raymond Buch     Consumer  6719.9808

In [15]:
#•	What are the top 5 categories that give maximum profit?
store.groupby('Sub-Category')['Profit'].max().head()

Sub-Category
Accessories     829.3754
Appliances      793.7160
Art             112.5740
Binders        4946.3700
Bookcases      1013.1270
Name: Profit, dtype: float64

In [96]:
#•	What is the Total Sales, Quantity, Discount, Profit across Total US
s = round(store['Sales'].sum(),2)
q=store['Quantity'].sum()
d=store['Discount'].sum()
p=round(store['Profit'].sum(),2)
print('Total Sales =   $'+str(s)+'\nQuantity    =   '+str(q)+ ' units' + '\nDiscount    =   $'+str(d)+'\nProfit      =   $'+str(p))

Total Sales =   $2297200.86
Quantity    =   37873 units
Discount    =   $1561.09
Profit      =   $286397.02

In [81]:
m = store[["Sales","Quantity","Discount","Profit"]].agg(['sum'])

            Sales  Quantity  Discount       Profit
sum  2.297201e+06     37873   1561.09  286397.0217

In [19]:
#•	How many times has it taken more than 5 days from placing an order to shipping
store['Order Date']= pd.to_datetime(store['Order Date'])
store['Ship Date']= pd.to_datetime(store['Ship Date'])
z=store['Ship Date']-store['Order Date']>'5 days'
gre=sum(z==True)
gre

1822

In [20]:
#•	Find the total number of orders in every category which has been shipped with a duration > 5 days
store[store['Ship Date']-store['Order Date']>'5 days'].groupby('Category')['Customer ID'].count()

Category
Furniture           365
Office Supplies    1131
Technology          326
Name: Customer ID, dtype: int64

In [73]:
#•	What’s the percentage of items which has been shipped within 5 days
z=store['Ship Date']-store['Order Date']<='5 days'
les = sum(z==True)
#gre
#tot = les+gre
#tot
#les/tot*100
#print(les/(gre+les))
#type(les)
perc=float(les)/float(gre+les)*100
round(perc,2)

81.77

In [74]:
#•	What’s the percentage of items which has been shipped after 5 days
round(float(gre)/float(tot)*100,2)

23.3