In [9]:
import pandas as pd 
import numpy as np
air=pd.read_csv("C:\\Users\\Administrator\\Desktop\\python\\assignment\\DataSets\\airquality.csv")
np.shape(air)
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Unnamed: 0    153 non-null int64
Ozone         116 non-null float64
Solar.R       146 non-null float64
Wind          153 non-null float64
Temp          153 non-null int64
Month         153 non-null int64
Day           153 non-null int64
dtypes: float64(3), int64(4)
memory usage: 8.4 KB

In [12]:
#1.	Fetch the observations for 9 day of June
air[air.Month==6].head(9)

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
31          32    NaN    286.0   8.6    78      6    1
32          33    NaN    287.0   9.7    74      6    2
33          34    NaN    242.0  16.1    67      6    3
34          35    NaN    186.0   9.2    84      6    4
35          36    NaN    220.0   8.6    85      6    5
36          37    NaN    264.0  14.3    79      6    6
37          38   29.0    127.0   9.7    82      6    7
38          39    NaN    273.0   6.9    87      6    8
39          40   71.0    291.0  13.8    90      6    9

In [22]:
#2.	Find Average temperature for the month of June.
air[air.Month==6].Temp.mean()

79.1

In [32]:
#3.	To which day of June has the least temperature
air.loc[(air.Month==6),["Day","Temp"]].min()

Day      1
Temp    65
dtype: int64

In [36]:
#4.	Find Maximum Ozone value for the month of May
air.loc[(air.Month==5),["Day","Ozone"]].max()

Ozone    115.0
dtype: float64

In [37]:
#5.	Find the count of the missing values in the ozone column of the data set
air.apply(lambda x: sum(x.isnull().values), axis = 0)

Unnamed: 0     0
Ozone         37
Solar.R        7
Wind           0
Temp           0
Month          0
Day            0
dtype: int64

In [38]:
#6.	Find out What is the mean of the Ozone column in this dataset
air.Ozone.mean()

42.12931034482759

In [44]:
#7.	Find out which month has the highest temperature
air.loc[:,['Month','Temp']].max()

Month     9
Temp     97
dtype: int64

In [48]:
#8.	Find out the wind value when the Ozone becomes maximum
air.loc[:,['Wind','Ozone']].max()

Wind      20.7
Ozone    168.0
dtype: float64

In [51]:
#9.	Find out the months for which the airquality observations have been carried out
air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [59]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.
air[air.Day==1][['Ozone','Temp']]

     Ozone  Temp
0     41.0    67
31     NaN    78
61   135.0    84
92    39.0    81
123   96.0    91

In [60]:
#11.	Which day of which month corresponds to the least Ozone Value.
air.loc[:,['Day','Month','Ozone']].min()

Day      1.0
Month    5.0
Ozone    1.0
dtype: float64

In [69]:
#12.	Convert the temperature for all the observations to Centigrade 
f=lambda x: (x - 32.0) * 5.0 / 9.0
f(air.Temp).head(10)
# air.apply(lambda x: (x.Temp - 32.0) * 5.0 / 9.0 , axis = 1)

0    19.444444
1    22.222222
2    23.333333
3    16.666667
4    13.333333
5    18.888889
6    18.333333
7    15.000000
8    16.111111
9    20.555556
Name: Temp, dtype: float64